*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background-color: #cdf;    
}

#startscreen{
    width: 1200px;
    height: 800px;
    position: relative;
    margin: auto;  
    background-color: #a461fa;    
    border: 1px solid black;
}  

.hide {
    display: none;
}

#name {    
    width: 300px;
    height: 45px;
    position: absolute;
    text-align: center;
    bottom: 30%;
    left: 40%
}

#play {
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 15%;
    left: 45%;
}


.game {
    width: 1200px;
    height: 800px;
    position: relative; 
    margin: auto;    
    background-color: #61fad6;    
    border: 1px solid black;
}

#go {
    width: 180px;
    height: 40px;
    position: absolute;
    bottom: 10%;
    left: 45%;
}


.boat {
    background-color: #8c7758;

    width: 180px;
    height: 50px; 
    bottom: 30%;
    left: 32%;

    position: absolute;
    display:flex;    
    justify-content: center;
    align-items: end;

    transition: 0.8s ease-in-out;
}

.boatRight {
    left: 54%;
}

[data-position="leftSide"] {
    position: absolute;
    bottom: var(--bottom);
    left: var(--left);
}

[data-position="rightSide"] {
    position: absolute;
    bottom: var(--bottom);
    left: calc(95% - var(--left));
}

[data-position="inBoat"] {
    position: relative;
    bottom: 0%;
    left: 0%;
    z-index:1; 
}

[data-age="adult"] {
    width: 70px;
    height: 110px;
    border: 1px solid black;
}

[data-age="child"] {
    width: 70px;
    height: 90px;
    border: 1px solid black;
}

#tr {       
    background-color: pink;

    --bottom: 40%;
    --left: 3%;
}

#nov {
    background-color: #d3ccff;

    --bottom:45%;
    --left: 10%;
}

#gol {
    background-color: #7de36d;

    --bottom: 50%;
    --left: 17%;    
}

#als {
    background-color:pink;
    
    --bottom: 27%;
    --left: 6%; 
}

#ar {
    background-color: #d3ccff;
    
    --bottom: 32%;
    --left: 13%; 
}

#liz { 
    background-color: #7de36d;    
    
    --bottom: 37%;
    --left: 20%;      
}

.jump {
    animation: jump 0.2s linear;
}

@keyframes jump {
    0%, 
    100% {
        transform: translateY(-20px);
    }    
    50% {
        transform: translateY(-35px);
    }     
}

.move {
    animation: move 1s ease-in-out;
    animation-fill-mode: both; 
}

@keyframes moveRight { 
    100% {
        bottom: var(--bottom);
        left: calc(95% - var(--left));
    }    
        
}

#restart {
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 15%;
    left: 45%;
}


.finalScreen {
    width: 1200px;
    height: 800px;
    position: relative; 
    margin: auto;       
    border: 1px solid black;
}

.win {
    background-color: hsl(62, 98%, 75%); 
}

.loss {
    background-color: hsl(0, 100%, 76%);    
}