:root {
    --screen-width: 1200px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background-color: #cdf;
}

#splashScreen{
    width: var(--screen-width);
    aspect-ratio: 3/2;

    position: relative;
    margin: auto;
    background-color: #a461fa;
    border: 1px solid black;
}

.hide {
    display: none;
}

#name {
    width: 300px;
    height: 45px;
    position: absolute;
    font-size: 110%;
    text-align: center;
    bottom: 30%;
    left: 40%
}

#play {
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 15%;
    left: 45%;

    font-size: 110%;
}


#game {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: auto;
    background-color: #61fad6;
    border: 1px solid black;

    background-image: url("../img/backGround.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.audio {
    position: absolute;
    bottom: -64px;
    width: 400px;
}

.screenHover {
    opacity: 0.05;
}

#go {
    width: 180px;
    height: 40px;
    position: absolute;
    bottom: 10%;
    left: 45%;
    font-size: 100%;
}

#rulesButton {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 92%;

    font-size: 110%;
    background-color: aqua;
}

#rulesScreen {
    width: 75%;
    height: 75%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate3d(-50%, -50%, 0);


    background-image: url("../img/rules.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}

#movesValue {
    position: absolute;
    left: 2%;
    bottom: 95%;
    width: max-content;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.3);

    font-size: 150%;
    text-align: center;
}

#timerValue{
    position: absolute;
    left: 86%;
    bottom: 95%;
    width: max-content;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.3);

    font-size: 150%;
    text-align: center;
}

.boat {
    background-color: #8c7758;

    width: 180px;
    height: 50px;
    bottom: 25%;
    left: 32%;

    position: absolute;
    display:flex;
    justify-content: center;
    align-items: end;

    transition: 0.8s ease-in-out;
}

.boatRight {
    left: 54%;
}

[data-position="leftSide"] {
    position: absolute;
    bottom: var(--bottom);
    left: var(--left);
}

[data-position="rightSide"] {
    position: absolute;
    bottom: var(--bottom);
    left: calc(95% - var(--left));
}

[data-position="inBoat"] {
    position: relative;
    bottom: 0%;
    left: 0%;
    z-index:1;
}

[data-age="adult"] {
    width: 70px;
    height: 110px;
    border: 1px solid black;
}

[data-age="child"] {
    width: 70px;
    height: 90px;
    border: 1px solid black;
}

#tr {
    background-color: pink;

    --bottom: 40%;
    --left: 3%;
}

#nov {
    background-color: #d3ccff;

    --bottom:45%;
    --left: 10%;
}

#gol {
    background-color: #7de36d;

    --bottom: 50%;
    --left: 17%;
}

#als {
    background-color:pink;

    --bottom: 27%;
    --left: 6%;
}

#ar {
    background-color: #d3ccff;

    --bottom: 32%;
    --left: 13%;
}

#liz {
    background-color: #7de36d;

    --bottom: 37%;
    --left: 20%;
}

.jump {
    animation: jump 0.2s linear;
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-35px);
    }
}

.move {
    animation: move 1s ease-in-out;
    animation-fill-mode: both;
}

@keyframes moveRight {
    100% {
        bottom: var(--bottom);
        left: calc(95% - var(--left));
    }

}

#restart {
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 15%;
    left: 45%;
}


#finalScreen {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: auto;
    border: 1px solid black;
}

.win {
    background-color: hsl(62, 98%, 75%);
}

.loss {
    background-color: hsl(0, 100%, 76%);

    background-image: url("../img/end.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 0%;
    top: 20%;
    height:55%;

    width: 50%;

    z-index: 2;



    overflow-y: auto;

    >span {
        width: 75%;
        text-align: center;
        padding: 3px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.lastscore {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 50%;
    top: 20%;
    height:55%;

    width: 50%;

    z-index: 2;



    overflow-y: auto;

    >span {
        width: 75%;
        text-align: center;
        padding: 3px;
        font-size: 23px;
        font-weight: 540;
        background-color: rgba(255, 255, 255, 0.3);
    }


}
