* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #cdf;
}

#splashScreen {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: auto;

    background-color: #b9a0ff;
    border: 1px solid black;

    background-image: url("../img/menu.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hide {
    display: none;
}

.volume {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 5%;
    left: 3.5%;

    font-size: 130%;
    background-color: rgb(169, 236, 255);
    transition: 0.4s border-color;
    background-color: white;
    border-style: double;
    border-radius: 9px;
    transition: 0.4s border-color;
}

.volume:hover {
    border-color: rgb(94, 232, 94);
}

#name {
    width: 300px;
    height: 45px;
    position: absolute;
    font-size: 110%;
    text-align: center;
    bottom: 30%;
    left: 40%;
    background-color: white;
    border-style: double;
    border-radius: 9px;
}

#play {
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 15%;
    left: 45%;
    background-color: white;
    border-style: double;
    border-radius: 9px;
    font-size: 110%;
    transition: 0.4s;
}

#play:hover {
    border-color: rgb(94, 232, 94);
    color: rgb(14, 137, 189)
}


#game {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: auto;
    background-color: #61fad6;
    border: 1px solid black;

    background-image: url("../img/backGround.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.screenHover {
    opacity: 0.05;
}

#go {
    width: 180px;
    height: 40px;
    position: absolute;
    bottom: 10%;
    left: 45%;
    font-size: 100%;
    background-color: white;
    border-style: double;
    border-radius: 9px;
    font-size: 110%;
    transition: 0.4s;
}

#go:hover {
    border-color: rgb(94, 232, 94);
    color: rgb(14, 137, 189)
}

#rulesButton {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 5%;
    left: 92%;

    font-size: 110%;
    background-color: white;
    border-style: double;
    border-radius: 9px;
    font-size: 110%;
    transition: 0.4s;
}

#rulesButton:hover {
    border-color: rgb(94, 232, 94);
    color: rgb(14, 137, 189)
}

#rulesScreen {
    width: 75%;
    height: 75%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate3d(-50%, -50%, 0);


    background-image: url("../img/ruless.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}

#movesValue {
    position: absolute;
    left: 2%;
    bottom: 92%;
    width: max-content;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.3);

    font-size: 150%;
    text-align: center;

    background-color: white;
    border-radius: 6px;
    width: 156px;
    height: 40px;
    text-align: center;
    border-style: double;
    border-width: 1px;
}

#timerValue {
    position: absolute;
    left: 84%;
    bottom: 93%;
    min-width: 177px;
    width: max-content;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 150%;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 6px;
    border-color: #3f3f3f;
    border-style: double;
    border-width: 1px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.boatIMG {
    position: absolute;
    top: -60px;
    left: -25px;
}

.boatIMG2 {
    position: absolute;
    top: -60px;
    left: -25px;
    z-index: 2;
}

.boat {

    width: 180px;
    height: 50px;
    bottom: 25%;
    left: 32%;
    border-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;

    transition: 0.8s ease-in-out;
}

.boatRight {
    left: 54%;
}

[data-position="leftSide"] {
    position: absolute;
    bottom: var(--bottom);
    left: var(--left);
}

[data-position="rightSide"] {
    position: absolute;
    bottom: var(--bottom);
    left: calc(95% - var(--left));
}

[data-position="inBoat"] {
    position: relative;
    bottom: 0%;
    left: 0%;
    z-index: 1;
}

[data-age="adult"] {
    width: 70px;
    height: 110px;
    border: 1px solid black;
}

[data-age="child"] {
    width: 70px;
    height: 90px;
    border: 1px solid black;
    z-index: 3;
}

#tr {
    border-style: none;
    display: flex;
    z-index: 1;
    align-items: flex-end;
    --bottom: 40%;
    --left: 3%;
}

#nov {
    border-style: none;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    --bottom: 45%;
    --left: 10%;
}

#gol {
    border-style: none;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    --bottom: 50%;
    --left: 17%;
}

#als {
    border-style: none;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    --bottom: 27%;
    --left: 6%;
}

#ar {
    border-style: none;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    --bottom: 32%;
    --left: 13%;
}

#liz {
    border-style: none;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    --bottom: 37%;
    --left: 20%;
}

.jump {
    animation: jump 0.2s linear;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(-35px);
    }
}

.move {
    animation: move 1s ease-in-out;
    animation-fill-mode: both;
}

@keyframes moveRight {
    100% {
        bottom: var(--bottom);
        left: calc(95% - var(--left));
    }

}

#restart {
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 15%;
    left: 45%;
}


#finalScreen {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: auto;
    border: 1px solid black;
}

.win {
    background-color: hsl(62, 100%, 88%);
}

.loss {
    background-color: hsl(0, 100%, 76%);

    background-image: url("../img/end.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#menuThemeButton {
    background-color: white;
    border-style: double;
    border-radius: 9px;
    transition: 0.4s border-color;
}

#menuThemeButton:hover {
    border-color: rgb(94, 232, 94);
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 0%;
    top: 20%;
    height: 55%;

    width: 50%;

    z-index: 2;



    overflow-y: auto;

    >span {
        width: 75%;
        text-align: center;
        padding: 3px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.lastscore {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 50%;
    top: 20%;
    height: 55%;

    width: 50%;

    z-index: 2;



    overflow-y: auto;

    >span {
        width: 75%;
        text-align: center;
        padding: 3px;
        font-size: 23px;
        font-weight: 540;
        background-color: rgba(255, 255, 255, 0.3);
    }


}